body {
  font-family: Arial, sans-serif;
  text-align: center;
}

h1 {
  color: #333;
}

input[type="text"] {
  padding: 5px;
  width: 200px;
}

button {
  margin-top: 10px;
  padding: 5px 10px;
}

li {
  list-style-type: none;
}

#result {
  margin-top: 20px;
  font-weight: bold;
}

.list-container {
    display: flex;
}

.list {
    flex: 1;
    margin: 10px;
    padding: 10px;
}